$black: #130F26;
$font: "VelaSans";
.card__otk-select {
  background: #EAECF0;
  //position: relative;
  border: 1px solid #E6E6E6;
  border-radius: 10px;
  margin-bottom: 40px;
  position: relative;
}

.card__otk-sel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 14px;
}

.card__otk-content {
  //position: absolute;
  //top: 100%;
  //left: 0;
  // margin-bottom: 27px;
  width: 100%;
  background: #fff;
  transition: all .3s ease;
}

.card__otk {
  display: flex;
  align-items: center;
}

.card__otk-icon {
  transition: all .3s ease;
}

.card__otk-img {
  margin-right: 11px;
}

.card__otk-text span {
  display: block;
}

.card__otk-sch {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #3F3B4E;
}

.card__otk-num {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #130F26;
}

.translate__otk h3 {
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: -0.25px;
  color: #130F26;
  margin-bottom: 20px;
}

.translate__kamu h3 {
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: -0.25px;
  color: #130F26;
  margin-bottom: 20px;
}


.translate__kamu {

  &-selected {
    margin-top: 23px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;


    &-cards {
      width: 150px;
      height: 91px;
      background: #FAFAFA;
      border: 1px solid #BDC3CA;
      border-radius: 10px;
      margin-right: 12px;
      transition: all .2s ease;
      padding: 12px 12px;


      &-active {
        width: 150px;
        height: 91px;
        margin-right: 12px;
        background: rgba(254, 254, 254, 0.79);
        box-shadow: 0px 1px 26px rgba(0, 0, 0, 0.07);
        border: 1.5px solid #423AD0;
        filter: drop-shadow(0px 1px 26px rgba(0, 0, 0, 0.07));
        border-radius: 12px;
        transition: all .2s ease;
        padding: 12px 12px;

        p {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 10px;
          text-transform: capitalize;
          color: #333333;
          margin: 0;
        }

        span {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          color: #8C929B;
        }

      }

      &-icon {
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        height: 20px;
        margin-bottom: 18px;
      }

      p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 10px;
        text-transform: capitalize;
        color: #333333;
        margin: 0;
      }

      span {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #8C929B;
      }


    }

  }
}

// translate__kamu-input
.translate__kamu-input {
  display: block;
  width: 100%;
  outline: none;
  text-indent: 14px;
  background: #EAECF0;
  border: 1px solid #E6E6E6;
  border-radius: 10px;
  transition: all .2s ease;

}


.translate__kamu-input {
  position: relative;
  height: 68px;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #130F26;
  z-index: 8;
  &:hover{
    background-color: #E2E3E8;
  }
  &-select {
    margin-top: 13px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    padding: 14px 12px;
    overflow-y: scroll;
    height: 200px;
    z-index: 10;

    &::-webkit-scrollbar {
      width: 3px;

    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #E0E0E0;
      border-radius: 29px;
      height: 37px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    &-option {
      display: flex;
      justify-content: left;
      align-items: center;
      padding: 12px 12px;
      background: transparent;


      &:hover {
        background: #F3F3F5;
        border-radius: 10px;
      }

      &-avatar {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 10px;
      }

      &-people {
        display: flex;
        flex-direction: column;
        width: 88%;

        p {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          text-transform: capitalize;
          color: #333333;
          margin-bottom: 0 !important;
        }

        span {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 19px;
          letter-spacing: -0.2px;
          color: #8C929B;
        }
      }

      &-back {
        width: 28px !important;
        height: 28px !important;
        background: #D0D4DB;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;

        &:hover + .translate__kamu-input-select-option-back > svg {
          color: #130F26;

        }

        svg {
          width: 20px;
          height: 20px;
          color: #738090;
        }
      }
    }
  }
}

.translate__kamu-plac {
  position: absolute;
  top: 21px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7D8A9A;
  transition: 500ms;
  pointer-events: none;
  z-index: 9;
}

.translate__kamu-input:focus {
  border: 1px solid #3F3B4E;
  background: #fff;
  transition: all .2s ease;
}

.translate__kamu-plac-active {
  position: absolute;
  font-style: normal;
  font-weight: 500;
  transition: 500ms;
  pointer-events: none;
  top: 0px;
  font-size: 13px;
  color: #3F3B4E;
}

.translate__kamu-input:focus + .translate__kamu-plac {
  top: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #3F3B4E;
}

.translate__bank {
  position: relative;
  height: 68px;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #130F26;
  margin-bottom: 30px;
  margin-top: 30px;

  p {
    margin-top: 12px;
    margin-bottom: 29px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 124.5%;
    color: #8C929B;
  }

  &-input {
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
    text-indent: 14px;
    background: #EAECF0;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    transition: all .2s ease;
    &:hover{
      background-color: #E2E3E8;
    }


    &:focus {
      border: 1px solid #3F3B4E;
      background: #fff;
      transition: all .2s ease;
    }

    &:focus + .translate__bank-place {
      position: absolute;
      font-style: normal;
      font-weight: 500;
      transition: 500ms;
      pointer-events: none;
      top: 0px;
      padding-left: 30px;
      font-size: 13px;
      color: #3F3B4E;
    }


  }

  &-place {
    position: absolute;
    top: 21px;
    padding-left: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #7D8A9A;
    transition: 500ms;
    pointer-events: none;

    &-active {
      position: absolute;
      font-style: normal;
      font-weight: 500;
      transition: 500ms;
      pointer-events: none;
      top: 0px;
      padding-left: 30px;
      font-size: 13px;
      color: #3F3B4E;
    }
  }
}

.card{
  &__otk-list{
    width: 100%;
    position: absolute;
    z-index: 22;
    top: 20px;
    background-color: #f6f6f6;
    list-style: none;
    padding: 0;
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.06);
    border-radius: 10px !important;

  }
  &__otk-item{
    border-radius: 10px;
    padding: 18px 14px;
    background-color: inherit;
    display: flex;
    align-items: center;
    &:hover{
      background-color: #EAECF0;
    }
    & div{
      margin-left: 10px;
      & h4{
        margin: 0;
        font-family: $font;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #3F3B4E;
      }
      & p{
        margin: 0;
        font-family: $font;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.2px;
        color: #130F26;
      }
    }
  }
  &__accourdion{
    top: 100px;
  }
}
