$black: #130f26;
$font: "VelaSans";
.card__otk-select {
  background: #eaecf0;
  //position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 40px;
  position: relative;
}

.card__otk-sel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 18px 14px;
}

.card__otk-content {
  position: absolute;
  top: 100%;
  left: 0;
  margin-bottom: 27px;
  width: 100%;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card__otk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card__otk-icon {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card__otk-img {
  margin-right: 11px;
}

.card__otk-text span {
  display: block;
}

.card__otk-sch {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #3f3b4e;
}

.card__otk-num {
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #130f26;
}

.translate__otk h3 {
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: -0.25px;
  color: #130f26;
  margin-bottom: 20px;
}

.translate__kamu h3 {
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: -0.25px;
  color: #130f26;
  margin-bottom: 20px;
}

.translate__kamu {
  &-selected {
    margin-top: 23px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &-cards {
      width: 150px;
      height: 91px;
      background: #fafafa;
      border: 1px solid #bdc3ca;
      border-radius: 10px;
      margin-right: 12px;
      -webkit-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      padding: 12px 12px;

      &-active {
        width: 150px;
        height: 91px;
        margin-right: 12px;
        background: rgba(254, 254, 254, 0.79);
        -webkit-box-shadow: 0px 1px 26px rgba(0, 0, 0, 0.07);
        box-shadow: 0px 1px 26px rgba(0, 0, 0, 0.07);
        border: 1.5px solid #423ad0;
        -webkit-filter: drop-shadow(0px 1px 26px rgba(0, 0, 0, 0.07));
        filter: drop-shadow(0px 1px 26px rgba(0, 0, 0, 0.07));
        border-radius: 12px;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        padding: 12px 12px;

        p {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 10px;
          text-transform: capitalize;
          color: #333333;
          margin: 0;
        }

        span {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          color: #8c929b;
        }
      }

      &-icon {
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        height: 20px;
        margin-bottom: 18px;
      }

      p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 10px;
        text-transform: capitalize;
        color: #333333;
        margin: 0;
      }

      span {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #8c929b;
      }
    }
  }
}

// translate__kamu-input
.translate__kamu-input {
  display: block;
  width: 100%;
  outline: none;
  text-indent: 14px;
  background: #eaecf0;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.translate__kamu-input {
  position: relative;
  height: 68px;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #130f26;
  z-index: 8;

  &:hover {
    background-color: #e2e3e8;
  }

  &-select {
    margin-top: 13px;
    background: #ffffff;
    border-radius: 10px;
    border: none;
    padding: 14px 12px;
    overflow-y: scroll;
    height: 200px;
    z-index: 10;

    &::-webkit-scrollbar {
      width: 3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #e0e0e0;
      border-radius: 29px;
      height: 37px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    &-option {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: left;
      -ms-flex-pack: left;
      justify-content: left;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 12px 12px;
      background: transparent;

      &:hover {
        background: #f3f3f5;
        border-radius: 10px;
      }

      &-avatar {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 10px;
      }

      &-people {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 88%;

        p {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          text-transform: capitalize;
          color: #333333;
          margin-bottom: 0 !important;
        }

        span {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 19px;
          letter-spacing: -0.2px;
          color: #8c929b;
        }
      }

      &-back {
        width: 28px !important;
        height: 28px !important;
        background: #d0d4db;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;

        &:hover + .translate__kamu-input-select-option-back > svg {
          color: #130f26;
        }

        svg {
          width: 20px;
          height: 20px;
          color: #738090;
        }
      }
    }
  }
}

.translate__kamu-plac {
  position: absolute;
  top: 21px;
  left: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7d8a9a;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  pointer-events: none;
  z-index: 9;
}

.translate__kamu-input:focus {
  border: 1px solid #3f3b4e;
  background: #fff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.translate__kamu-plac-active {
  position: absolute;
  font-style: normal;
  font-weight: 500;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  pointer-events: none;
  top: 0px;
  left: 14px !important;
  font-size: 13px;
  color: #3f3b4e;
}

.translate__kamu-input:focus + .translate__kamu-plac {
  top: 2px !important;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #3f3b4e;
}

.translate__bank {
  position: relative;
  height: 68px;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #130f26;
  margin-bottom: 30px;
  margin-top: 30px;

  p {
    margin-top: 12px;
    margin-bottom: 29px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 124.5%;
    color: #8c929b;
  }

  &-input {
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
    text-indent: 14px;
    background: #eaecf0;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

    &:hover {
      background-color: #e2e3e8;
    }

    &:focus {
      border: 1px solid #3f3b4e;
      background: #fff;
      -webkit-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }

    &:focus + .translate__bank-place {
      position: absolute;
      font-style: normal;
      font-weight: 500;
      -webkit-transition: all .02s ease;
      -o-transition: all .02s ease;
      transition: all .02s ease;
      pointer-events: none;
      top: 2px;
      font-size: 13px;
      color: #3f3b4e;
    }
  }

  &-place {
    position: absolute;
    top: 21px;
    left: 14px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #7d8a9a;
    -webkit-transition: all .02s ease;
    -o-transition: all .02s ease;
    transition: all .02s ease;
    pointer-events: none;

    &-active {
      position: absolute;
      font-style: normal;
      font-weight: 500;
      -webkit-transition: all .02s ease;
      -o-transition: all .02s ease;
      transition: all .02s ease;
      pointer-events: none;
      top: 2px;
      left: 14px;
      font-size: 13px;
      color: #3f3b4e;
    }
  }
}

.written {
  top: 2px !important;
  font-size: 13px !important;
}

.card {
  &__otk-list {
    width: 100%;
    position: absolute;
    z-index: 22;
    top: 20px !important;
    background-color: #f6f6f6;
    list-style: none;
    padding: 0;
    -webkit-box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.06);
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.06);
    border-radius: 10px !important;
  }

  &__otk-item {
    border-radius: 10px;
    padding: 18px 14px;
    background-color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &:hover {
      background-color: #eaecf0;
    }

    & div {
      margin-left: 10px;

      & h4 {
        margin: 0;
        font-family: $font;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #3f3b4e;
      }

      & p {
        margin: 0;
        font-family: $font;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.2px;
        color: #130f26;
      }
    }
  }

  &__accourdion {
    top: 100px;
  }
}

.translate__back--title {
  display: none;
  font-family: $font;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  letter-spacing: -0.25px;
  color: #130f26;
}

.telephone__btnCollection {
  gap: 16px;
}


