$black: #130F26;
$font: "VelaSans";

.container__translate {
  max-width: 802px;
  margin: auto;
  //padding: 0 15px;
}

.translate_row {
  margin-top: 20px;

  .react-tippy {
    background: rgba(51, 51, 51, 0.96);
    backdrop-filter: blur(4px);
    border-radius: 16px;
    max-width: 280px;
    padding: 6px;

    .tippy-img {
      width: 100%;
      height: 86px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #FFFFFF;
    }
  }


}

.translate__padd--check {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 115px;
  @media screen and (max-width: 520px) {
    padding-top: 20px !important;
  }
}

.translate {

  &__card {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 22px;
    border-radius: 18px;
    cursor: pointer;
    color: #130F26;
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.06);

    @media screen and (max-width: 800px) {
      flex-direction: column-reverse;
      flex-wrap: wrap;
      align-items: flex-start;
      padding: 15px;
    }

    h3 {
      font-family: $font;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: $black;
      width: 74%;
      @media screen and (max-width: 800px) {
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 0;
      }
      @media screen and (max-width: 800px) {
        width: 95%;
      }
    }

    .local__phone {
      width: 52px !important;
      height: 52px !important;
      background: #E7EBF3;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        color: #596479;
      }
    }
  }

  &__padd {
    padding-top: 60px;
  }

  &__back {
    margin-bottom: 40px;

    a {
      display: flex;
      align-items: center;
      color: #738090;

      &:hover {
        color: black;
      }

      span {
        background: #E8EBEF;
        display: inline-flex;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 13px;
      }
    }
  }

  &__mont {
    h2 {
      font-family: $font;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 49px;
      letter-spacing: -0.25px;
      color: $black;
      margin-bottom: 40px;
    }
  }

  &_row .row {
    @media screen and (max-width: 800px) {
      display: flex !important;
      align-items: stretch !important;
    }
    @media screen and (max-width: 786px) {
      display: flex !important;
      flex-direction: row !important;
      gap: 13px !important;
      justify-content: space-around !important;
      & div {
        padding: 0 !important;
        max-width: 165px;
      }
      & div a {
        max-width: 165px;
        margin-right: 0 !important;
      }
    }

    & div a {
      height: 100%;
    }

    @media screen and (max-width: 528px) {
      margin: 0 auto;
      justify-content: flex-start !important;
    }
  }
}

.form__main {
  background: #E8EBEF;
  border: 0.5px solid #E6E6E6;
  border-radius: 10px;
  padding: 15px 0 15px 15px;
  @media screen and (max-width: 385px) {
    display: flex;
  }
}

.form__search_btn {
  border: none;
  background: transparent;
}

.form__corntrol {
  background: transparent;
  border: none;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #8F99A6;
  outline: none;
  width: 300px;
}

@media screen and (max-width: 880px) {
  .translate__padd {
    padding-left: 16px;
    padding-right: 16px;
  }

}

@media screen and (max-width: 786px) {
  .translate__padd--responsive {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 578px) {
  .translate__padd--responsive {
    position: relative;
    padding-top: 0 !important;
  }
  .telephone__btnCollection {
    display: flex;
    flex-direction: column;

    & a {
      width: 100% !important;
    }
  }
  .translate__kamu--responsive {
    position: static !important;
  }
  .translate__mont--responsive {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .translate__back--txt {
    display: none !important;
  }
  .translate__back--responsive {
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 18px;
    left: 15px;
    z-index: 30;
    background-color: #F7F7F7;

    span {
      background-color: transparent !important;
    }

    svg {
      width: 10rem;
      height: 50px;
      color: #423ad0;
    }
  }
  .translate__back--title {
    position: absolute;
    display: block !important;
    margin: auto;
    left: 28%;
  }
  .translate__otk h3,
  .translate__kamu h3 {
    font-size: 19px;
  }
  .translate__title-where--responsive {
    font-size: 19px !important;
    margin-bottom: 12px;
  }
  .translate__kamu-input--responsive, .monyCard__inputCollect--responsive {
    position: absolute !important;
    top: 0;
    width: 93% !important;

    & .translate__kamu-input-select {
      height: 450px;
      margin-top: 0;
    }
  }
  .translate__mont-title--responsive {
    margin-bottom: 0 !important;
  }
  .card__otk-select--responsive {
    margin-bottom: 32px !important;
  }

}

@media screen and (max-width: 365px) {
  .translate__kamu-selected {
    gap: 16px;
  }
}