
.login {
  width: 100%;
  min-height: 100vh;
  background: #FAFAFA;
  font-family: 'VelaSans', sans-serif;


  &_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 97px;

    &_register {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: center;
      padding: 35px 42px 45px 30px;
      background: #FFFFFF;
      box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.06);
      border-radius: 12px;
      margin-bottom: 137px;

      h4 {
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        line-height: 37px;
        color: #130F26;
        margin-bottom: 34px;

      }

      input {
        width: 426px;
        padding: 23px 14px;
        background: #FAFAFA;
        border: 1px solid #E6E6E6;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 30px;
        outline: none;

        &::placeholder {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0.2px;
          color: #8F99A6;
        }

        &:focus {
          background: #FFFFFF;
          border: 1px solid #3F3B4E;
          border-radius: 10px;

          &::placeholder {
            opacity: 1;
            position: absolute;
            top: 10px;
            left: 15px;
          }
        }

      }


      &_disabled {
        width: 100%;
        background: #EAECF0;
        border-radius: 12px;
        padding: 20px;
        gap: 10px;
        border: none;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #8F99A6;
        flex: none;
        order: 0;
        flex-grow: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: not-allowed !important;
      }

      &_active {
        width: 100%;
        background: #423AD0;
        border-radius: 12px;
        padding: 20px;
        gap: 10px;
        border: none;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
      }

    }

    &_confirm {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: center;
      padding: 35px 31px 29px;
      background: #FFFFFF;
      box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.06);
      border-radius: 12px;
      margin-bottom: 137px;
      position: relative;
      min-width: 486px;

      &_back {
        cursor: pointer;
        position: absolute;
        left: 19px;
        top: 19px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
      }


      h4 {

        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        line-height: 37px;
        color: #130F26;
        margin-bottom: 10px;

      }

      &_code {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #738090;
        margin-bottom: 34px;
      }

      input {
        width: 260px;
        padding: 23px 14px;
        background: #FAFAFA;
        border: 1px solid #E6E6E6;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 30px;
        outline: none;

        &::placeholder {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0.2px;
          color: #8F99A6;
        }

        &:focus {
          background: #FFFFFF;
          border: 1px solid #3F3B4E;
          border-radius: 10px;

          &::placeholder {
            opacity: 1;
            position: absolute;
            top: 10px;
            left: 15px;
          }
        }

      }

      &_resend {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: #423AD0;
        cursor: pointer;
      }

      &_notComingSms {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: #2921BD;
        cursor: pointer;
      }

    }

    &_pass {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: center;
      padding: 35px 30px 45px;
      background: #FFFFFF;
      box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.06);
      border-radius: 12px;
      margin-bottom: 125px;
      position: relative;
      min-width: 486px;

      &_back {
        cursor: pointer;
        position: absolute;
        left: 19px;
        top: 19px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
      }


      h4 {
        width: 340px;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        line-height: 37px;
        color: #130F26;
        margin-bottom: 28px;

      }


      &_password {
        margin-bottom: 16px;
        position: relative;

        svg {
          position: absolute;
          top: 25px;
          right: 15px;
          width: 22px;
          height: 22px;
          color: #8F99A6;
          transition: all .2s ease;

          &:hover {
            color: #130F26;
            transition: all .2s ease;
          }
        }

        input {
          width: 426px;
          padding: 23px 14px;
          background: #FAFAFA;
          border: 1px solid #E6E6E6;
          border-radius: 10px;
          cursor: pointer;
          outline: none;

          &::placeholder {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.2px;
            color: #8F99A6;
          }

          &:focus {
            background: #FFFFFF;
            border: 1px solid #3F3B4E;
            border-radius: 10px;

            &::placeholder {
              opacity: 1;
              position: absolute;
              top: 10px;
              left: 15px;
            }
          }

        }
      }

      &_resend {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        color: #423AD0;
        cursor: pointer;
      }


    }

    &_footer {
      text-align: center;
      width: 620px;
      margin: auto;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      color: #738090;
    }
  }


}