$font: "VelaSans";

.translate__mont-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h2{
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.25px;
    color: #130F26;
  }

  p {
    margin-bottom: 0;
  }
}

.translate__title-where {
  margin-bottom: 20px;
  font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.25px;
    color: #130F26;
}

.translate__padd--wrapper{
  padding-bottom: 100px;
}
.written{
  top: 2px !important;
  font-size: 13px !important;
}
.card{
  &__otk-list{
    width: 100%;
    position: absolute;
    z-index: 22;
    top: 15px;
    background-color: #f6f6f6;
    list-style: none;
    padding: 0;
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.06);
    border-radius: 10px !important;

  }
  &__otk-item{
    border-radius: 10px;
    padding: 18px 14px;
    background-color: inherit;
    display: flex;
    align-items: center;
    &:hover{
      background-color: #EAECF0;
    }
    & div{
      margin-left: 10px;
      & h4{
        margin: 0;
        font-family: $font;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #3F3B4E;
      }
      & p{
        margin: 0;
        font-family: $font;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.2px;
        color: #130F26;
      }
    }
  }
}
.card__title-top{
  margin-bottom: 40px !important;
}
.card__otk-content {
  margin-bottom: 30 !important;
  &-phone {
    background: transparent !important;
    
    &-flex {
      display: flex;
      justify-content: space-between;
      background: #EAECF0;
      border-radius: 10px;
      margin-top: 20px;
      border: 1px solid transparent;
      padding: 23px 14px;
      position: relative;
      &:hover{
        background-color:  #E2E3E8 !important;
      }
      &:focus-within {
        border: 1px solid #3F3B4E;
        background-color: transparent !important;
      }
      & input{
        background-color: inherit;
      }
    }
  }
  &-open{
  position: relative !important;
  margin-bottom: 0 !important;
  }
}

.card__inpit-erors {
  border: none;
  outline: none;
  width: 100%;
  //color: #F5095E;
}

.card__inpit-erors:focus {
  outline: none;
}

.card__labale-wsp {
  position: absolute;
  top: 38%;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  pointer-events: none;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #3F3B4E;
}
.card__inpit-erors:focus + .card__labale-wsp,  .card__labale-wsp.open-wsp{
  font-size: 13px;
 top: 2px;
}


.card__close-cirsle {
  width: 28px;
  height: 28px;
  background: #EAECF0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.errors__card-span {
  font-family: $font;
  color: #F5095E;
  display: inline-block;
  margin-top: 10px;
}

.card__message-user {
  input {
    background: #EAECF0;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    width: 100%;
    padding: 23px 14px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #7D8A9A;
    border: 1px solid transparent;

    &::placeholder{
      font-size: 16px;
    }
    &:hover{
      background-color: #E2E3E8;
    }
    &:focus{
      background-color: transparent;
      border: 1px solid #3F3B4E;
    }
  }

  input:focus {
    outline: none;
    font-size: 18px;
  }
}

.card__btn-otm {
  padding: 20px 72px;
  &:hover{
    background-color: #D9DEE1;
    color: #130F26;
  }
}

.card__btn-per {
  padding: 20px 0;
  width: calc((100% / 10) * 7);
  background-color: #443AD6;
  color: #f6f6f6 !important;
  &:hover{
    background-color: #352AC3;
  }
}

.card__buttos-two {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

}

// .card__btn:hover {
//   background: #423AD0;
//   color: white;
// }

.card__btn {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #130F26;
  font-family: $font;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__otk-cardNumber{
  margin-bottom: 30px !important;
}

/* @media only screen and (max-width: 830px) {
  .translate__padd--wrapper{
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

@media screen and (max-width: 786px) {
  .translate__padd--responsive {
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 578px) {
  .translate__padd--responsive {
    position: relative;
    padding-top: 0 !important;
  }
  .telephone__btnCollection {
    display: flex;
    flex-direction: column;
    & a {
      width: 100% !important;
    }
  }
  .translate__kamu--responsive{
    position: static !important;
  }
  .translate__mont--responsive{
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .telephone__btnCollection{
    margin-top: 40px !important;
  }
  .translate__back--txt {
    display: none !important;
  }
  .translate__back--responsive {
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 18px;
    left: 15px;
    z-index: 30;
    background-color: #F7F7F7;
    span {
      background-color: transparent !important;
    }
    svg {
      width: 10rem;
      height: 50px;
      color: #423ad0;
    }
  }
  .translate__back--title {
    position: absolute;
    display: block;
    margin: auto;
    left: 28%;
  }
  .translate__title-where--responsive{
    font-size: 19px !important;
    margin-bottom: 12px;
  }

  .translate__kamu-input--responsive{
    position: absolute;
    top: 0;
    width: 93%;
    & .translate__kamu-input-select{
      height: 450px;
      margin-top: 0;
    }
  }
  .translate__mont-title--responsive{
    margin-bottom: 0 !important;
  }
  .card__otk-select--responsive{
    margin-bottom: 32px !important;
  }
}

@media screen and (max-width: 365px) {
  .translate__kamu-selected {
    gap: 16px;
  }
}
 */