.mony__spros{
  background: #EAECF0;
  border: 1px solid #E6E6E6;
  border-radius: 10px;
  position: relative;
  &:hover{
    background-color: #E2E3E8;
  }
}
.mony__pros-input{
  width: 100%;
  border: 1px solid #EAECF0;
  background: transparent;
  font-size: 18px;
  padding: 14px 23px;
  border-radius: 10px;
}
.mony__pros-input:focus{
  outline: none;
  background: white;
  border: 1px solid #3F3B4E;
}
.mony__pros-input:focus + .mony__card-labale{
  top: 0;
}
.mony__card-labale{
  position: absolute;
  top: 18px;
  left: 30px;
  transition: 500ms;
  pointer-events: none;
}
.score__title__po-mony{
  margin-top: 44px;
}
.monyCard__label{
  position: absolute;
    top: 21px;
    left: 14px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #7D8A9A;
    transition: 500ms;
    pointer-events: none;
    z-index: 9;
}
.monyCard__inputCollect{
  background-color: #EAECF0;
  border-radius: 10px;
  & input:focus + .monyCard__label{
    top: 2px;
    font-size: 13px;
  }
  position: relative;
}