/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

$black: #130F26;
$font: "VelaSans";

.mainNavbar .navbar {
  padding: 20px 50px;
  background: rgba(250, 250, 250, 0.86);
  border: 1px solid #E6E6E6;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  -webkit-box-shadow: none;
  box-shadow: none;
  position: fixed;
  width: 100%;
  z-index: 20;


  @media screen and (max-width: 786px) {
    display: none
  }

}

.mainNavbar__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mainNavbar__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 28px;
  font-size: 25px;
}

.mainNavbar_profile {
  width: 36px !important;
  height: 36px !important;
}

.mainNavbar__nav {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}


.mainNavbar__nav .nav-item {
  border-radius: 62px;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  margin-right: 10px;
  padding: 9px 11px;
}

.mainNavbar__nav .nav-item .nav-link {
  padding: 0 !important;
}

.mainNavbar__nav .nav-item:hover {
  background: #423AD0;
  cursor: pointer;
}


.mainNavbar__nav .nav-item:hover .nav-link {
  color: white;
}

.mainNavbar__nav .nav-item.active:hover {
  background: #423AD0;
}

.mainNavbar__home1 {
  color: rgb(237, 0, 0);
}

.mainNavbar__nav .nav-item.active:hover .nav-link {
  color: white;
}

.mainNavbar__nav .nav-item.active:hover .icon_pay * {
  stroke: white;
}

.mainNavbar__nav .nav-item:hover .icon_pay * {
  stroke: white;
}

.mainNavbar__nav .nav-item.active {
  background: white;
  border-radius: 62px;
  border: 0.5px solid #E6E6E6;
  -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
}

.mainNavbar__nav .nav-item .nav-link {
  font-family: 'Euclid Circular A';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #202020;
}

@media (max-width: 991px) {
  .mainNavbar__nav .nav-item {
    margin: 5px 0;
  }
}