$black: #130F26;
$font: "VelaSans";
.payments__card-main {
  padding-bottom: 70px;

  @media screen and (max-width: 786px) {
    display: none;
  }
}

.payments__card-main_mobile {
  display: none;
  @media screen and (max-width: 786px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-bottom: 30px;
  }
}

.payments__servises-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    letter-spacing: -0.25px;
    color: $black;
    margin: 0;
  }

  a {
    font-family: $font;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    color: #423AD0;
  }
}

.category__paymets {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.06);
  border-radius: 18px;
  padding: 24px 20px 20px 22px;
  transition: all .2s ease;
  border: 1px solid transparent;

  @media screen and (max-width: 786px) {
    padding: 18px 15px 19px;
  }

  &:hover {
    transition: all .2s ease;
    border: 1px solid #3B3B3B;
    box-shadow: none;
  }

  &-img {
    width: 52px !important;
    height: 52px !important;
    background: #E7EBF3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 24px;
      height: 24px;

      @media screen and (max-width: 786px) {
        width: 22px;
        height: 22px;
      }
    }

    @media screen and (max-width: 786px) {
      width: 40px !important;
      height: 40px !important;
    }
  }

  &-title {
    @media screen and (max-width: 786px) {
      width: calc(100% - 22px);
      margin-right: auto;
    }

    h3 {
      font-family: $font;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 30px;
      /* identical to box height */
      color: $black;

      @media screen and (max-width: 786px) {
        font-size: 19px;
      }
    }

    p {
      font-family: $font;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 145%;
      color: #738090;
      max-width: 300px;

      @media screen and (max-width: 786px) {
        font-size: 14px;
      }
    }
  }
}