/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

$black: #130F26;
$font: "VelaSans";

.payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F7F7F7;

  @media screen and (max-width: 786px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.payments__sidebar {
  width: 423px;
  position: fixed;
  height: 100%;
  overflow: scroll;


  @media screen and (max-width: 786px) {
    width: 100%;
    display: none;
  }


}

.payments__servises_col-md {
  padding: 0;
}

.payments__favorite {
  display: none;
  @media screen and (max-width: 786px) {
    display: block;
    margin-bottom: 40px;
  }
}

.payments__main {
  width: calc(100% - 423px);
  margin-left: auto;
  padding: 70px 40px 0 40px;
  @media screen and (max-width: 786px) {
    width: 95%;
    margin: auto;
    padding: 30px 16px;
  }
}

.mainindex {
  &__card {
    background: white;
  }
}

.container__main {
  max-width: 100%;
  margin: auto;
  padding: 0 12px;

  @media screen and (max-width: 786px) {
    padding: 0;
  }
}

.form__main {
  background: #E8EBEF;
  border: 0.5px solid #E6E6E6;
  border-radius: 10px;
  padding: 15px 0 15px 15px;
}

.form__search_btn {
  border: none;
  background: transparent;
}

.form__control {
  width: calc(100% - 50px);
  background: transparent;
  border: none;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #130f26;
  outline: none;

  @media screen and (max-width: 786px) {
    font-size: 14px;
  }
}
