$black : #130F26;
$font : "VelaSans";

.payments {
    display: flex;
    background: #F7F7F7;
}

.payments__sidebar {
    width: 30%;
}

.payments__main {
    width: 100%;
    padding: 70px 40px 0 40px;
}

.mainindex {
    &__card {
        background: white;
    }
}

.container__main {
    max-width: 100%;
    margin: auto;
    padding: 0 12px;
}

.form__main {
    background: #E8EBEF;
    border: 0.5px solid #E6E6E6;
    border-radius: 10px;
    padding: 15px 0 15px 15px;
}

.form__search_btn {
    border: none;
    background: transparent;
}

.form__corntrol {
    background: transparent;
    border: none;
    font-family: $font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #8F99A6;
    outline: none;
    width: 300px;
}

