/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

$font: "VelaSans";
.last__actions {
  background: #EAEBF0;
  border: 0.5px solid #E6E6E6;
  border-radius: 12px;
  width: 100%;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;

  &:hover {
    background: #D7DFE2;
    cursor: pointer;
  }


  button {
    background: transparent;
    border: none;
    font-family: $font;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #130F26;
  }
}